# Dependencies & build
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*
